RewriteEngine on 
RewriteBase / 
#si ce n'est pas un répertoire 
RewriteCond %{REQUEST_FILENAME} !-d
#si ce n'est pas un fichier
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ monboncoin/public/index.php [QSA,L]
